:root {
    --border-color: #d3d3d3;
    --not-found-color: #808080;
    --success-color: #90ee90;
    --error-color: #ef5350;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
    margin-top: inherit;
}
h1 {
    text-align: center;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
ul li {
  margin: 5px auto;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 1px 5px;
}
.search {
    border-radius: 10px;
    border-color: var(--border-color);
    border-style: solid;
    font-size: 18px;
    width: 100%;
}
.not-found {
    color: var(--not-found-color);
}
.message {
    position: fixed;
    bottom: 15px;
    left: 50%;
    visibility: hidden;
    opacity: 0;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 16px;
    transition: opacity 2s;
}
.copy-success {
    background-color: var(--success-color);
}
.copy-error {
    background-color: var(--error-color);
}